.cart__button{
  font-size: 1.5rem;
  display: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  position: relative;
  margin-left: 20px;
}

.cart-status{
  background-color: red;
  color: white;
  width: 15px;
  height: 15px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 15px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}