.cart-item {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.cart-item-image {
  width: 70px;
}

.cart-item-title {
  font-size: 0.85rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
}

.cart-item-price {
  font-size: 22px;
  font-weight: 500;
}

.cart-item-content {
  padding: 0 35px 0 10px;
}

.button__remove-item {
  position: absolute;
  top: 0;
  right: 0;
  color: #d83232;
  font-size: 1.4rem;
  border: none;
  background: none;
  cursor: pointer;
}

.cart-item-amount {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-item-amount > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_amount-item {
  background: none;
  border: none;
  font-size: 1.1rem;
  color: #313131;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_amount-item:active {
  opacity: 0.5;
}

.amount-item-text {
  width: 22px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}